doctype html
html(lang="en")
  head
    title Page title
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor.js')
    script(src='js/main.bundle.js')

  body
    .first-block
      - var friends = 10
      case friends
        when 0
          p you have no friends
        when 1
          p you have a friend
        default
          p you have #{friends} friends

      - var distance_uranus = 3200000000
      case distance_uranus
        when 1000000000
          p.distance-planets Distance from Earth to Uranus = #{distance_uranus} km
        when 2000000000
          p.distance-planets Distance from Earth to Uranus = #{distance_uranus} km
        when 3200000000
          p.distance-planets Distance from Earth to Uranus = #{distance_uranus} km
        default 
          p.distance-planets Distance is undefined!

      - var distance_saturn = 1500000000
      case distance_saturn
        when 1000000000: p.distance-planets Distance from Earth to Saturn = #{distance_saturn} km
        when 1500000000: p.distance-planets Distance from Earth to Saturn = #{distance_saturn} km
        default: p.distance-planets Distance from Earth to Saturn is undefined!

      ol
        h3 Default list generated:
        - for(var i = 0; i < 5; i++)
          li n-#{i}

      ol
        h3 Default list-2 generated:
        -
          var list_items = [
            'France',
            'Spain',
            'United Kingdom',
            'USA',
            'Canada',
            'Russian Federation',
            'Germany',
            'Poland',
            'Ukraine',
            'Italy'
          ]
        each item in list_items
          li= item

    section

    footer
